version: "3.9"
services:
  pythonenv:
    container_name: "asyncmongoengineenv"
    build: .
    volumes:
      - .:/app
  mongo:
    container_name: "mongodb"
    image: "mongo:6.0.3"
    ports:
      - "29017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password